{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Debug Arch Installer",
      "type": "go",
      "request": "launch",
      "mode": "debug",
      "program": "${workspaceFolder}",
      "env": {
        "GOOS": "linux",
        "GOARCH": "amd64",
        "CGO_ENABLED": "0"
      },
      "args": [],
      "showLog": true,
      "console": "integratedTerminal",
      "cwd": "${workspaceFolder}"
    },
    {
      "name": "Debug Current Package",
      "type": "go",
      "request": "launch",
      "mode": "debug",
      "program": "${fileDirname}",
      "env": {
        "GOOS": "linux",
        "GOARCH": "amd64"
      },
      "showLog": true,
      "console": "integratedTerminal"
    },
    {
      "name": "Debug Test",
      "type": "go",
      "request": "launch",
      "mode": "test",
      "program": "${workspaceFolder}",
      "env": {
        "GOOS": "linux",
        "GOARCH": "amd64"
      },
      "args": [
        "-test.v"
      ],
      "showLog": true,
      "console": "integratedTerminal"
    },
    {
      "name": "Debug Current Test",
      "type": "go",
      "request": "launch",
      "mode": "test",
      "program": "${fileDirname}",
      "env": {
        "GOOS": "linux",
        "GOARCH": "amd64"
      },
      "args": [
        "-test.v",
        "-test.run",
        "^${selectedText}$"
      ],
      "showLog": true,
      "console": "integratedTerminal"
    },
    {
      "name": "Attach to Process",
      "type": "go",
      "request": "attach",
      "mode": "local",
      "processId": 0,
      "showLog": true
    }
  ]
}
